<nav class="bg-gray-800 text-white p-4 inset-x-0 bottom-0">
    <div class="container mx-auto flex justify-between items-center">
        <a href="/" class="font-bold text-lg">Datacrypt</a> <p>&copy; <span id="currentYear"></span> all rights reserved</p>
        <div>
            <a href="playground" class="mr-4 hover:text-gray-400">Playground</a>
            <a href="https://github.com/dinxsh/DataCrypt" target="_blank" class="mr-4 hover:text-gray-400">Github</a>
            <a href="https://www.linkedin.com/in/dineshtalwadker/" target="_blank" class="mr-4 hover:text-gray-400">Maintainer</a>
        </div>
    </div>
</nav>

<script>
    document.getElementById('currentYear').textContent = new Date().getFullYear();
</script>