<nav class="flex items-center justify-between flex-wrap bg-gray-700 p-6 text-white">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
        <a href="/"><span class="font-semibold text-xl tracking-tight text-gray-200">datacrypt</span></a>
    </div>
    <!-- Adjusted "hidden" class to make this div not visible by default -->
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto hidden" id="nav-content">
        <div class="text-sm sm:text-base lg:flex-grow">
           
        </div>
        <div>
            <div class="flex items-center text-sm sm:text-base">
                <a href="https://x.com/dineshcodes" class="block mt-4 lg:inline-block lg:mt-0 text-gray-200 hover:text-gray-300">
                    @dineshcodes
                </a>
            </div>
        </div>
    </div>
</nav>

<script>
    document.getElementById('nav-toggle').addEventListener('click', function() {
        document.getElementById('nav-content').classList.toggle('hidden');
    });
</script>