<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <title>
      DataCrypt
    </title>
</head>
<body class="bg-gray-100 font-mono">
    <div class="bg-brown-700">
    <%- include('./components/navbar') %>

    <div>
        <div class="my-32 mx-96">
            <h2 class="text-xl">DataCrypt 🔐</h2><hr><br>
                <div>
                <p class="block mt-4 lg:inline-block lg:mt-0">
                    REST API to encrypt / decrypt text using 15 different cryptographic algorithms with a playground
                </p> <br>

                <br>
                <p class="block mt-4 lg:inline-block lg:mt-0">
                    why datacrypt? <br><br>
                    <ul>
                        <li>- compatibility with multiple programming languages</li>
                        <li>- support for different data formats</li>
                        <li>- robust error handling</li>
                        <li>- integration with cryptographic libraries</li>
                        <li>- support for various encryption modes</li>
                    </ul>
                </p> <br>

                <a href="https://github.com/dinxsh/dataCrypt/" class="text-purple-500 mr-3">github</a>
                <a href="updates" class="text-purple-500 mr-3">updates</a>
                <a href="mailto:dineshtalwadker@gmail.com" class="text-purple-500 mr-3">contact</a>
            </div>
        </div>
    </div>
    <%- include('./components/footer') %>
</body>
</html>