<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <% include navbar.ejs %>
    <script>
        const links = [
          {
            href: '/',
            icon: '<svg>...</svg>',
            text: 'Home'
          },
          {
            href: 'collection',
            icon: '<svg>...</svg>',
            text: 'Collection'
          },
          {
            href: 'live',
            icon: '<svg>...</svg>',
            text: 'Live'
          }
        ];
      </script>
</body>
</html>