<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <title>
      DataCrypt
    </title>
</head>
<body class="bg-gray-100 font-mono">
    <div class="bg-brown-700">
    <%- include('./components/navbar') %>

    <div class="text-center text-2xl font-bold my-10">
        Get Started
    </div>

    <div class="p-6 max-w-sm mx-auto bg-white rounded-xl shadow-md flex items-center space-x-4 mt-5 relative">
        <div class="flex-shrink-0">
            <p>1</p>
        </div>
        <div>
            <div class="text-xl font-medium text-black">Register</div>
            <p class="text-gray-500">register an account</p>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 absolute right-5 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
        </svg>
    </div>
    
    <div class="p-6 max-w-sm mx-auto bg-white rounded-xl shadow-md flex items-center space-x-4 mt-5 relative">
        <div class="flex-shrink-0">
            <p>1</p>
        </div>
        <div>
            <div class="text-xl font-medium text-black">Generate an Token</div>
            <p class="text-gray-500">to use for API calls</p>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 absolute right-5 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
        </svg>
    </div>
    
    <div class="p-6 max-w-sm mx-auto bg-white rounded-xl shadow-md flex items-center space-x-4 mt-5 relative">
        <div class="flex-shrink-0">
            <p>1</p>
        </div>
        <div>
            <div class="text-xl font-medium text-black">Call the API</div>
            <p class="text-gray-500">through one of our drivers</p>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 absolute right-5 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
        </svg>
    </div>

    <div class="text-center text-2xl font-bold my-10">
        Extras
    </div>

    <div class="p-6 max-w-sm mx-auto bg-white rounded-xl shadow-md flex items-center space-x-4 mt-5 relative">
        <div class="flex-shrink-0">
            <p>1</p>
        </div>
        <div>
            <div class="text-xl font-medium text-black">Check Playground</div>
            <p class="text-gray-500">to test the API</p>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 absolute right-5 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
        </svg>
    </div>
    
    <div class="p-6 max-w-sm mx-auto bg-white rounded-xl shadow-md flex items-center space-x-4 mt-5 relative">
        <div class="flex-shrink-0">
            <p>1</p>
        </div>
        <div>
            <div class="text-xl font-medium text-black">Read Blogs</div>
            <p class="text-gray-500">to learn about upcoming features</p>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 absolute right-5 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
        </svg>
    </div>
    
    <div class="p-6 max-w-sm mx-auto bg-white rounded-xl shadow-md flex items-center space-x-4 mt-5 relative mb-10">
        <div class="flex-shrink-0">
            <p>1</p>
        </div>
        <div>
            <div class="text-xl font-medium text-black">View Updates</div>
            <p class="text-gray-500">to the source</p>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 absolute right-5 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
        </svg>
    </div>

</body>
</html>