<body>
  <%- include('navbar'); -%>
  
  <div class="flex justify-center ">
    <div class="flex flex-col justify-center">

      <div class="flex flex-col max-w-7xl p-2 mt-10">
        <div class="flex flex-col w-[90%] md:w-3/4 text-center items-center justify-center space-y-3">
          <div class="text-4xl font-bold ">
            lightweight cryptographic api !?
          </div>
          <div class="text-xl font-semibold text-gray-400 ">
            10+ algorithms as of now
          </div>
        </div>
      </div>
    </div>
  </div>

    <%- include('components/crud') -%>

</body>