<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <title>
      DataCrypt
    </title>
</head>
<body class="bg-gray-100 font-mono">
    <div class="bg-brown-700">
      <nav class="flex items-center justify-between flex-wrap bg-purple-600 p-6 text-white">
        <div class="flex items-center flex-shrink-0 text-white mr-6">
          <a href="/"><span class="font-semibold text-xl tracking-tight">Datacrypt</span></a>
        </div>
        <div class="block lg:hidden">
          <button class="flex items-center px-3 py-2 border rounded text-white border-white hover:text-purple-600 hover:bg-white">
            <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
          </button>
        </div>
        <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
          <div class="text-sm lg:flex-grow">
            <a href="docs" class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-purple-300 mr-4">
              Docs
            </a>
            <a href="examples" class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-purple-300 mr-4">
              Examples
            </a>
            <a href="updates" class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-purple-300">
              Updates
            </a>
          </div>
        </div>
      </nav>
    </div>
    <div class="flex flex-col items-center justify-center mt-72 sm:mt-32 lg:mt-16 bg-gray-100 text-gray-800">
      <h1 class="text-3xl sm:text-4xl lg:text-5xl font-bold mb-5">Welcome to <span class="text-purple-600 animate-pulse">Datacrypt!</span>🔐</h1>
      <p class="text-lg sm:text-xl lg:text-2xl my-5 px-6 text-center"><b>data encryption</b> and <b>security</b> in an interactive playground.</p>
      <div class="flex flex-col sm:flex-row space-y-4 sm:space-y-0 sm:space-x-4 mt-10">
        <a href="get-started" class="bg-purple-600 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded transform transition duration-500 ease-in-out hover:scale-110">Get Started <span>&rarr;</span></a>
        <a href="playground" class="bg-purple-600 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded transform transition duration-500 ease-in-out hover:scale-110">View Playground <span>&rarr;</span></a>
      </div>
    </div>
    
</body>
</html>