<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <title>datacrypt - hashing cli utility</title>
</head>
<body class="bg-gradient-to-r from-gray-300 via-gray-200 to-gray-300 font-mono">
    <div class="bg-gray-700">
        <%- include('./components/navbar') %>
    </div>
    <div class="flex flex-col items-center justify-center mt-12 sm:mt-24 md:mt-32 lg:mt-16 xl:mt-10 bg-gray-100 text-gray-800 px-4 p-10 m-10 rounded-xl">
        <h1 class="text-3xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl font-bold mb-5 text-center font-extrabold">simple hashing cli utility</h1>
        <div class="flex flex-col sm:flex-row space-y-4 sm:space-y-0 sm:space-x-4 mt-5 md:mt-10">
            <a href="https://github.com/dinxsh/datacrypt" class="bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded transform transition duration-500 ease-in-out hover:scale-110">Get Started <span>&rarr;</span></a>
            <a href="https://dcrypt.vercel.app/" class="bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded transform transition duration-500 ease-in-out hover:scale-110">View Demo <span>&rarr;</span></a>
        </div>
    </div>
</body>
</html>