<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <title>
      DataCrypt
    </title>
</head>
<body class="bg-gray-100 font-mono">
    <div class="bg-brown-700">
      <nav class="flex items-center justify-between flex-wrap bg-purple-600 p-6 text-white">
        <div class="flex items-center flex-shrink-0 text-white mr-6">
          <a href="/"><span class="font-semibold text-xl tracking-tight">Datacrypt</span></a>
        </div>
        <div class="block lg:hidden">
          <button class="flex items-center px-3 py-2 border rounded text-white border-white hover:text-purple-600 hover:bg-white">
            <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
          </button>
        </div>
        <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
          <div class="text-sm lg:flex-grow">
            <a href="docs" class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-purple-300 mr-4">
              Docs
            </a>
            <a href="examples" class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-purple-300 mr-4">
              Examples
            </a>
            <a href="updates" class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-purple-300">
              Updates
            </a>
          </div>
        </div>
      </nav>
    </div>
    <div class="bg-white p-6 text-purple-500">
        <div class="my-32 mx-96">
            <form action="/api/register" method="POST">
                <h2 class="my-3 text-2xl">Login</h2>
                <label for="username" class="block mb-2">Email:</label>
                <input type="text" id="username" name="username" class="w-full mb-4 p-2 bg-white text-purple-600 border-2 border-purple-600 rounded">

                <label for="password" class="block mb-2">Password:</label>
                <input type="password" id="password" name="password" class="w-full mb-4 p-2 bg-white text-purple-600 border-2 border-purple-600 rounded">

                <input type="submit" value="Register" class="w-full p-2 bg-purple-400 text-white rounded cursor-pointer hover:bg-purple-300">
            </form>
        </div>
    </div>
</body>
</html> 