
<head>
  <title>Datacrypt</title>
</head>

<nav class="navbar">
    <ul class="navbar-blocks">
        <li class="nav-icon">
          <a href="/" class="nav-link">
            <span class="link-text">home</span>
          </a>
        </li>
        <li class="nav-icon">
          <a href="get-started" class="nav-link">
            <span class="link-text">get started</span>
          </a>
        </li>
        <li class="nav-icon">
          <a href="about" class="nav-link">
            <span class="link-text">about</span>
          </a>
        </li>
    </ul>
  </nav>