<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <title>
      DataCrypt API Playground
    </title>
</head>
<body class="bg-gray-100 font-mono">
    <div class="bg-brown-700">
    <%- include('./components/navbar') %>

    <div class="container mx-auto p-10">
        <h1 class="text-center text-2xl mb-10">API Playground</h1>
        <form id="api-form">
            <label for="endpoint" class="block mb-2">Operation:</label>
            <select id="endpoint" name="endpoint" class="w-full mb-4 p-2 bg-white text-purple-600 border-2 border-purple-600 rounded" required>
                <option value="/api/encrypt">ENCRYPT</option>
                <option value="/api/decrypt">DECRYPT</option>
            </select>

            <label for="method" class="block mb-2">Method:</label>
            <select id="method" name="method" class="w-full mb-4 p-2 bg-white border-2 border-purple-600 rounded" required>
                <option value="POST" class="text-green-500">POST</option>
                <option value="GET" class="text-red-500">GET</option>
                <option value="PUT" class="text-blue-500">PUT</option>
                <option value="DELETE" class="text-purple-500">DELETE</option>
            </select>

            <label for="algorithm" class="block mb-2">Algorithm:</label>
            <select id="algorithm" name="algorithm" class="w-full mb-4 p-2 bg-white text-purple-600 border-2 border-purple-600 rounded" required>
                <% for(let i = 0; i < ciphers.length; i++) { %>
                    <option value="<%= ciphers[i] %>"><%= ciphers[i] %></option>
                <% } %>
            </select>

            <label for="text" class="block mb-2">Text :</label>
            <input type="text" id="text" maxlength="20" minlength="3" name="method" class="w-full mb-4 p-2 bg-white text-purple-600 border-2 border-purple-600 rounded" required></input>

            <label for="key" class="block mb-2">Key :</label>
            <input type="key" id="key" maxlength="20" minlength="3" name="method" class="w-full mb-4 p-2 bg-white text-purple-600 border-2 border-purple-600 rounded" required></input>

            <button type="submit" class="w-full p-2 bg-purple-600 text-white rounded">Send Request</button>
        </form>

        <div id="progress-bar" class="bg-purple-600 h-2 my-4"></div>

        <h2 class="text-center text-xl my-10">Response</h2>
        <pre id="response" class="p-4 bg-white text-purple-600 border-2 border-purple-600 rounded mb-5"></pre>
        <button id="copy-button" class="w-full p-2 bg-purple-600 text-white rounded mb-20">Copy To Clipboard</button>
    </div>

    <%- include('./components/footer') %>
    
    <script defer>
        document.getElementById('api-form').addEventListener('submit', function(event) {
            event.preventDefault();
        
            const endpoint = document.getElementById('endpoint').value;
            const method = document.getElementById('method').value;
            const text = document.getElementById('text').value;
            const key = document.getElementById('key').value;
            const algorithm = document.getElementById('algorithm').value;

            fetch(endpoint, {
                method: method,
                body: JSON.stringify({text:text, key:key, algorithm:algorithm}),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('response').textContent = JSON.stringify(data, null, 2);
            })
            .catch(error => {
                document.getElementById('response').textContent = 'Error: ' + error;
            });
        });

        const inputs = document.querySelectorAll('#api-form input, #api-form select');
        const progressBar = document.getElementById('progress-bar');

        inputs.forEach(input => {
            input.addEventListener('input', function() {
                let filledCount = 0;
        
                inputs.forEach(input => {
                    if (input.value !== '') {
                        filledCount++;
                    }
                });
        
                const filledPercentage = (filledCount / inputs.length) * 100;
                progressBar.style.width = `${filledPercentage}%`;
            });
        });
    
        document.getElementById('copy-button').addEventListener('click', function() {
            const responseText = document.getElementById('response').textContent;
            navigator.clipboard.writeText(responseText).then(function() {
                console.log('Copying to clipboard was successful!');
            }, function(err) {
                console.error('Could not copy text: ', err);
            });
        });
    </script>
</body>
</html>