<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <title>
      DataCrypt
    </title>
</head>
<body class="bg-gray-100 font-mono">
    <div class="bg-brown-700">
    <%- include('./components/navbar') %>

    <div>
        <div class="my-32 mx-96">
            <h2 class="text-xl">My Profile</h2><br>
            <% if (user) { %>
                <div>
                    <img src="<%= user.profile %>" alt="profile" class="w-16 h-16 rounded-full mb-3">
                    username:
                    <p class="block mt-4 lg:inline-block lg:mt-0 text-purple-500">
                        <%= user.username %>
                    </p> <br>
                    email:
                    <p class="block mt-4 lg:inline-block lg:mt-0 text-purple-500">
                        <%= user.email %>
                    </p> <br> <br>
                    <form action="/auth/logout" method="POST" class="inline">
                        <button type="submit" class="block mt-4 lg:inline-block lg:mt-0 text-purple-500 bg-transparent border-none">logout</button>
                    </form>
                </div>
            <% } else { %>
                <a href="register" class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-purple-300">
                    Register
                </a>
            <% } %>
        </div>
    </div>
</body>
</html>