<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <title>
      DataCrypt
    </title>
</head>
<body class="bg-gray-100 font-mono">
    <div class="bg-brown-700">
      
    <%- include('./components/navbar') %>
    </div>
    <div class=" p-6 text-purple-500">
        <div class="my-32 mx-96">
            <form action="/auth/register" method="POST">
                <h2 class="my-3 text-2xl">Register</h2>
                <label for="profile" class="block mb-2">Profile Picture:</label>
                <div class="flex space-x-4 my-4">
                    <label>
                        <input type="radio" name="profile" value="av/1.jpg" required>
                        <img src="av/1.jpg" alt="profile" class="w-20 h-20 rounded-full">
                    </label>
                    <label>
                        <input type="radio" name="profile" value="av/2.jpg" required>
                        <img src="av/2.jpg" alt="profile" class="w-20 h-20 rounded-full">
                    </label>
                    <label>
                        <input type="radio" name="profile" value="av/3.jpg" required>
                        <img src="av/3.jpg" alt="profile" class="w-20 h-20 rounded-full">
                    </label>
                </div>

                <label for="username" class="block mb-2">Username:</label>
                <input type="text" id="username" name="username" class="w-full mb-4 p-2  text-indigo-600 border-2 border-indigo-600 rounded" required>

                <label for="email" class="block mb-2">Email:</label>
                <input type="email" id="email" name="email" class="w-full mb-4 p-2  text-indigo-600 border-2 border-indigo-600 rounded" required>

                <label for="password" class="block mb-2">Password:</label>
                <input type="password" id="password" name="password" class="w-full mb-4 p-2  text-indigo-600 border-2 border-indigo-600 rounded" required>

                <input type="submit" value="Register" class="w-full p-2 bg-purple-400 text-white rounded cursor-pointer hover:bg-purple-300">

                <div class="mt-5">
                    <a href="login" class="mt-5">login</a><br />
                    <a href="forgot">forgot password</a>
                </div>
            </form>
        </div>
    </div>
    <%- include('./components/footer') %>
</body>
</html> 