<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <title>
      DataCrypt
    </title>
</head>
<body class="bg-gray-100 font-mono">
    <div class="bg-brown-700">
      
    <%- include('./components/navbar') %>
    </div>
    <div class="bg-white p-6 text-purple-500">
        <div class="my-32 mx-96">
            <form action="/auth/register" method="POST">
                <h2 class="my-3 text-2xl">Register</h2>
                <label for="profile" class="block mb-2">Profile Picture:</label>
                <div class="flex space-x-4 my-4">
                    <label>
                        <input type="radio" name="profile" value="av/1.jpg">
                        <img src="av/1.jpg" alt="profile" class="w-14 h-14 rounded-full">
                    </label>
                    <label>
                        <input type="radio" name="profile" value="av/2.jpg">
                        <img src="av/2.jpg" alt="profile" class="w-14 h-14 rounded-full">
                    </label>
                    <label>
                        <input type="radio" name="profile" value="av/3.jpg">
                        <img src="av/3.jpg" alt="profile" class="w-14 h-14 rounded-full">
                    </label>
                </div>

                <label for="username" class="block mb-2">Username:</label>
                <input type="text" id="username" value="test" name="username" class="w-full mb-4 p-2 bg-white text-purple-600 border-2 border-purple-600 rounded">

                <label for="email" class="block mb-2">Email:</label>
                <input type="email" id="email" value="test@gmail.com" name="email" class="w-full mb-4 p-2 bg-white text-purple-600 border-2 border-purple-600 rounded">

                <label for="password" class="block mb-2">Password:</label>
                <input type="password" id="password" value="test" name="password" class="w-full mb-4 p-2 bg-white text-purple-600 border-2 border-purple-600 rounded">

                <input type="submit" value="Register" class="w-full p-2 bg-purple-400 text-white rounded cursor-pointer hover:bg-purple-300">
            </form>
        </div>
    </div>
</body>
</html> 