<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <title>
      DataCrypt
    </title>
    <script>
        fetch('https://api.github.com/repos/dinxsh/datacrypt/commits')
            .then(response => response.json())
            .then(data => {
                const commitCards = document.getElementById('commit-cards');
                data.forEach(commit => {
                    const dateTime = new Date(commit.commit.author.date).toLocaleString();
                    const card = document.createElement('div');
                    card.className = 'w-full sm:w-1/2 md:w-1/3 lg:w-1/4 p-4';
                    card.innerHTML = `
                        <div class=" rounded shadow p-4">
                            <h2 class="font-semibold text-xl mb-2">
                                <a href="${commit.html_url}" target="_blank">${commit.commit.message.split('\n')[0]}</a>
                            </h2>
                            <p class="text-gray-700">${commit.commit.message.split('\n').slice(1).join('\n')}</p>
                            <p class="text-sm text-gray-500">Committed by <a href="https://github.com/${commit.author.login}" target="_blank">${commit.commit.author.name}</a></p>
                            <p class="text-xs text-gray-400">${dateTime}</p>
                        </div>
                    `;
                    commitCards.appendChild(card);
                });
            })
            .catch(error => console.error('Error:', error));
    </script>
</head>
<body class="bg-gray-100 font-mono">
    <div class="bg-brown-700">
      
      <%- include('./components/navbar') %>

      <div id="commit-cards" class="flex flex-wrap justify-around"></div>
      
      <%- include('./components/footer') %>
    </div>


</body>
</html>