<%- include("./header") %>
<form action="/" method="POST">
	<label>Username: </label>
	<input type="text" placeholder="Name" name="username"><br><br>
	<label>Email: </label>
	<input type="password" placeholder="Email" name="email"><br><br>
	<button>Submit</button>
</form>
