<div class="py-12 bg-gray-100 mt-5 px-4 p-10 m-10 rounded-xl">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
	<div class="lg:text-center">
	  <h2 class="text-base text-gray-600 font-semibold tracking-wide uppercase">Features</h2>
	  <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-800 sm:text-4xl">
		A better way to integrate cryptography
	  </p>
	  <p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">
		light easy-to-use cryptography, the right way
	  </p>
	</div>

	<div class="mt-10">
	  <dl class="space-y-10 md:space-y-0 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10">
		<div class="relative">
		  <dt>
			<div class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-gray-500 text-white">
				<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.253v13.494c0 .667-.8 1-1.268.528L9 18.914l-1.732 1.361c-.468.472-1.268.139-1.268-.528V6.253m0 0C6 5.56 7.343 5 9 5s3 .56 3 1.253zM21 6v14H3V6a2 2 0 012-2h14a2 2 0 012 2z" />
				</svg>
			</div>
			<p class="ml-16 text-lg leading-6 font-medium text-gray-800"><b>Package</b></p>
		  </dt>
		  <dd class="mt-2 ml-16 text-base text-gray-500">
			available on <a href="#" class="text-gray-600 hover:text-gray-700"><b>npm</b></a> and <a href="#" class="text-gray-600 hover:text-gray-700"><b>yarn</b></a>
		  </dd>
		</div>

		<div class="relative">
		  <dt>
			<div class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-gray-500 text-white">
				<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.172-1.172m4-4L19 12a4 4 0 00-5.656-5.656l-1.172 1.172m0 0a4 4 0 005.656 5.656l4-4a4 4 0 00-5.656-5.656z" />
				</svg>
			</div>
			<p class="ml-16 text-lg leading-6 font-medium text-gray-800"><b>API</b></p>
		  </dt>
		  <dd class="mt-2 ml-16 text-base text-gray-500">
			accessible through our <a href="api"><b>REST API</b></a>
		  </dd>
		</div>

		<div class="relative">
		  <dt>
			<div class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-gray-500 text-white">
				<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6.934 3.252l-1.858-.283.282-1.858 1.858.283-.282 1.858zm10.132 0l.282-1.858 1.858.283-.282 1.858-1.858-.283zM6 18a2 2 0 11-4 0V9a2 2 0 114 0v9zm13-2a2 2 0 100-4 2 2 0 000 4zm3-5V9a5 5 0 00-5-5V3a7 7 0 017 7zm-8 7a2 2 0 11-4 0V9a2 2 0 114 0v9zm-6-9a2 2 0 100-4 2 2 0 000 4zm3 2a2 2 0 11-4 0 2 2 0 014 0zm3 2a2 2 0 100-4 2 2 0 000 4zm-3-2a2 2 0 11-4 0 2 2 0 014 0zm8-2a2 2 0 11-4 0 2 2 0 014 0zM17 4v1a5 5 0 00-5 5v9a5 5 0 00-5-5V9a5 5 0 00-5 5v7a5 5 0 005 5h6a5 5 0 005-5V9a5 5 0 00-1-5z" />
				</svg>
			</div>
			<p class="ml-16 text-lg leading-6 font-medium text-gray-800"><b>Web Platform</b></p>
		  </dt>
		  <dd class="mt-2 ml-16 text-base text-gray-500">
			available online on our <a href="playground"><b>playground</b></a>
		  </dd>
		</div>

        <div class="relative">
            <dt>
<div class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-gray-500 text-white">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6.934 3.252l-1.858-.283.282-1.858 1.858.283-.282 1.858zm10.132 0l.282-1.858 1.858.283-.282 1.858-1.858-.283zM6 18a2 2 0 11-4 0V9a2 2 0 114 0v9zm13-2a2 2 0 100-4 2 2 0 000 4zm3-5V9a5 5 0 00-5-5V3a7 7 0 017 7zm-8 7a2 2 0 11-4 0V9a2 2 0 114 0v9zm-6-9a2 2 0 100-4 2 2 0 000 4zm3 2a2 2 0 11-4 0 2 2 0 014 0zm3 2a2 2 0 100-4 2 2 0 000 4zm-3-2a2 2 0 11-4 0 2 2 0 014 0zm8-2a2 2 0 11-4 0 2 2 0 014 0zM17 4v1a5 5 0 00-5 5v9a5 5 0 00-5-5V9a5 5 0 00-5 5v7a5 5 0 005 5h6a5 5 0 005-5V9a5 5 0 00-1-5z" />
    </svg>
</div>
              <p class="ml-16 text-lg leading-6 font-medium text-gray-800"><b>SDKs</b></p>
            </dt>
            <dd class="mt-2 ml-16 text-base text-gray-500">
              available online on our <a href="playground"><b>SDKs</b></a>
            </dd>
          </div>

	  </dl>
	</div>
  </div>
</div>